<h4 class="alert_success">
    @LangResources.CitizenCreateSuccess
    <ul>
        <li>@Html.ActionLink(LangResources.ToLoginPage, "LogOff", "Account", new { controller = "Account" })</li>
    </ul>
</h4>