@{
    ViewBag.Title = LangResources.SessionExpired;
    ViewBag.Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h4 class="alert_warning">    
    @LangResources.SessionExpiredMessageTop
    <ul>
        <li>@LangResources.SessionExpiredMessageRest</li>
        <li> &nbsp; </li>
        <li>@Html.ActionLink(LangResources.ToLoginPage, "LogOff", "Account", new { controller = "Account" })</li>
    </ul>
</h4>