<h4 class="alert_success">
    @LangResources.PasswordRecreateSuccessResponsible1
    <ul>
        <li>@LangResources.PasswordRecreateSuccessResponsible2 (@TempData["Responsible"])</li>
        <li>&nbsp;</li>
        <li>@Html.ActionLink(LangResources.ToLoginPage, "LogOff", "Account", new { controller = "Account" })</li>
    </ul>
</h4>