<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="VFO"
             connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=VFO_se;Integrated Security=True"
             xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an atrribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <appSettings>
    <add key="DisplayName" value="WelfareSverige" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DefaultCulture" value="sv-SE" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="AddressFrom" value="send@virtuallab.dk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Host" value="mail.virtuallab.dk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Port" value="587" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Username" value="send@virtuallab.dk" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Password" value="Send12358" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.net>
    <mailSettings xdt:Transform="Replace" xdt:Locator="XPath(//mailSettings)">
      <smtp deliveryMethod="Network">
        <network host="mail.virtuallab.dk" port="587" userName="send@virtuallab.dk" password="Send12358" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>